.lista-suspensa{
    display: flex;
  flex-direction: column;
}

.lista-suspensa select {
    background-color: #FFF;
    box-shadow: 12px 10px 50px rgba(0.0, 0.0, 0.02);
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
}

.lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

